body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
#loading {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: white;
}
#contextmenu {
	width: 130px;
	height: 100px;
	background: white;
	border: 1px solid black;
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;	
}
#contextmenu p {
	width: 100%;
	margin-top: 0px;
	cursor: pointer;
	border-bottom: 1px solid black;
}
#contextmenu p:hover {
	background: lightgrey;
}
#overlay {
	padding: 2px 2px 0;
	background-color: rgb(66,66,66);
	height: 100%;
	color: rgb(212,212,212);
	overflow-y: hidden;
	white-space: pre;
}
#code::selection { 
	background-color: rgba(255,255,255,0.3);
}
#go {
	width: 33px;
	height: 33px;
	background-image: url(go.png);
	background-size: cover;
	cursor: pointer;
	float: left;
}
#download {
	width: 33px;
	height: 33px;
	background-image: url(download.png);
	background-size: cover;
	cursor: pointer;
	float: right;
}
#settings {
	margin-right: 5px;
	width: 33px;
	height: 33px;
	background-image: url(settings.png);
	background-size: cover;
	cursor: pointer;
	float: right;
}
#popup {
	width: 400px;
	height: auto;
	border: 1px solid black;
	background: white;
	position: absolute;
	top: 40%;
	left: 35vh;
}
#bar {
	width: 100%;
	border-bottom: 1px solid black;
	height: 35px;
}
#code {
	height: 100%;
	color: transparent;
	caret-color: rgb(212,212,212);
	box-sizing: border-box;
	background: transparent;
	overflow-y: scroll;

}
div {
	box-sizing: border-box;
}
#player {
	line-height: 1;
	white-space: pre;
	min-width: 200px;
	min-height: 200px;
	width: auto;
	height: auto;
}
#code,#overlay {
	width: 50%;
	left: 2%;
	font-family: arial;
	position: absolute;
	outline: none;
	top: 0px;
	font-size: 1em;
	line-height: 1em;
	resize: none;
	border: 1px solid black;
	float: left;
}
#counter {
	width: 2%;
	height: 100%;
	font-family: arial;
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
	border-top: 1px solid black;
	border-left: transparent;
	border-right: transparent;
	border-bottom: 1px solid black;
	color: white;
	background-color: rgb(66,66,66);
	overflow-y: hidden;
}
#settingsPopup {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	border: 1px solid black;
	display: none;
	background-color: white;
}
#alert {
	position: absolute;
	bottom: 0px;
	width: 80%;
	left: 10%;
}
#settingsPopup #close {
	width: 23px;
	height: 23px;
	background: red;
	color: white;
	cursor: pointer;
	float: right;
}
#settingsPopup #draggy {
	height: 23px;
	background-color: lightgrey;
	cursor: move;
	user-select: none;
}
#counter p {
	color: white;
	margin: 0px;
	width: 99%;
	text-align: right;
	float:right;
	margin-right: 5px;
	font-size: 1em;
	line-height: 1em;
	font-family: arial;
}
#result {
	width: 48%;
	height: 100%;
	border: 1px solid black;
	float: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
